- title ||= "TITLE"
- features ||= []
- feature_form ||= 'features/default_form'
- feature_operations ||= nil
- feature_status_tags ||= nil

%td.panel
  .panelHeaderRight
  .panelHeaderLeft
  .panelHeader
    %span.panelTitle #{title} (#{features.count})

  - features.each do |feature|
    .feature
      .collapsed-feature{class: tracker_status_class(feature)}
        %img.feature-toggle{src: '/assets/collapsed.png'}
        %span.feature_name= link_to feature.name, [@project, feature]
        .operations
          - if feature_operations
            = render partial: feature_operations, locals: {feature: feature}
        .status-tags
          - if feature_status_tags
            = render partial: feature_status_tags, locals: {feature: feature}
      .expanded-feature{class: tracker_status_class(feature)}
        %img.feature-toggle{src: '/assets/expanded.png'}
        %span.feature_name= link_to feature.name, [@project, feature]
        .operations
          - if feature_operations
            = render partial: feature_operations, locals: {feature: feature}
        .status-tags
          - if feature_status_tags
            = render partial: feature_status_tags, locals: {feature: feature}
        = render partial: feature_form, locals: {feature: feature}