%td.panel
  .panelHeaderRight
  .panelHeaderLeft
  .panelHeader
    %span.panelTitle AVAILABLE (#{@available_features.count})

  - @available_features.each do |feature|
    .collapsed-feature{class: tracker_status_class(feature)}
      %span.feature_name= link_to feature.name, [@project, feature]
      .operations
      .operations
        = form_tag add_feature_project_bundle_path(@project,@bundle) do |f|
          = hidden_field_tag :feature_id, feature.id
          = submit_tag '+'
      .status-tags
        = feature.current_state
