%td.panel
  .panelHeaderRight
  .panelHeaderLeft
  .panelHeader
    %span.panelTitle UNESTIMATED (#{@estimable_features.count})

  - @estimable_features.each do |feature|
    .collapsed-feature{class: tracker_status_class(feature)}
      %span.feature_name= link_to feature.name, [@project, feature]
      .operations
        = form_tag remove_feature_project_bundle_path(@project,@bundle) do |f|
          = hidden_field_tag :feature_id, feature.id
          = submit_tag '-'
      .status-tags
        = form_tag(project_feature_path(@project,feature), method: :put) do
          = text_field_tag 'feature[estimate]', nil, size: 3
          = hidden_field_tag 'feature[ready_for_estimate_at]', Time.now
          = submit_tag 'Save'