%div#notice= notice

%div.bundle-header
  %header
    #{@bundle.name}
    %span.desc
      #{@bundle.class}
    .action-links
      = link_to 'Edit', edit_project_bundle_path(@project,@bundle)
      \|
      = link_to 'Back', project_bundles_path(@project)

= form_tag schedule_project_bundle_path(@project, @bundle) do |f|
  = submit_tag 'Send Bundle to Tracker', confirm: "This action will create in Tracker any features in the bundle (even undiscussed!) that have not yet been created in Tracker. Features previously sent to Tracker will not be modified."

%table.layout
  %tr
    = render partial: 'bundled_panel'
    = render partial: 'estimable_panel'
    = render partial: 'needs_discussion_panel'
    = render partial: 'available_panel'