#controlPanel.controlPanel
  #project_name_row
    %p
      Bundle: #{@bundle.name}
      = link_to 'Edit', edit_project_bundle_path(@project,@bundle)
      %br
      = link_to 'Bundled', '#', class: 'bundled_toggle'
      = link_to 'Unestimated', '#', class: 'underestimated_toggle'
      = link_to 'Needs Discussion', '#', class: 'needs_discussion_toggle'
%div#notice= notice
%div#alert= alert

= form_tag schedule_project_bundle_path(@project, @bundle) do |f|
  = submit_tag 'Send Bundle to Tracker', confirm: "This action will create in Tracker any features in the bundle (even undiscussed!) that have not yet been created in Tracker. Features previously sent to Tracker will not be modified."

%table.layout
  %tr


= content_tag "div", "", id: "bootstraped_features", data: {features: @bundle.features} 
  
:javascript
  project_name = (#{@project.name.to_json})
  bundle = #{@bundle.to_json}

  view = new RoadmapBundles.Views.FeaturesMain (project_name, bundle)  