= form_for feature, url: project_feature_path(@project,feature)  do |f|
  -if feature.errors.any?
    #error_explanation
      %h2= "#{pluralize(@feature.errors.count, "error")} prohibited this feature from being saved:"
      %ul
        - feature.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.text_area :description
  .field
    = hidden_field_tag 'redirect_to_bundle_id', @bundle.to_param
  .floatButton
    = f.submit 'Save Changes'
.floatButton
  = render partial: 'bundles/remove_feature_button', locals: {feature: feature}
  = form_tag(project_feature_path(@project,feature), method: :delete) do
    = hidden_field_tag 'redirect_to_bundle_id', @bundle.to_param
    = submit_tag 'Delete Feature', :confirm => 'Are you sure?'